.wrapper {
  align-items: center;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  height: inherit;
  padding-top: 125px;
  width: 100%;
}

.title {
  color: #f9fff2;
  font-size: 64px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.title_accent {
  color: #2d77af
}