.task {
  background-color: #fff;
  border-radius: 9999px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-top: 15px;
  padding-right: 22px;
  padding-bottom: 13px;
  padding-left: 25px;
  width: 500px;
}

.task_status {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.task_status_not_completed {
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}

.task_status_completed {
  border: 1px solid #7edf8e;
  background-color: #7edf8e;
}

.task_inner {
  width: 300px;
  cursor: default;
}

.task_title {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.task_description {
  color: #7f7f7f;
  font-size: 12px;
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task_view_btn {
  border: none;
  background-color: #2d77af;
  border: 1px solid #2d77af;
  border-radius: 9999px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.task_view_btn:hover {
  text-decoration: underline;
}

.task_view_btn:active {
  border: 1px solid black;
}
