.task {
  background-color: #fff;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  padding-top: 15px;
  padding-right: 22px;
  padding-bottom: 13px;
  padding-left: 25px;
  width: 500px;
}

.task_full_card {
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  max-height: 450px;
  border-radius: 25px;
  padding-bottom: 30px;
}

.task_status {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #d9d9d9;
}

.task_status_not_completed {
  background-color: #d9d9d9;
}

.task_status_completed {
  border: 1px solid #7edf8e;
  background-color: #7edf8e;
}

.task_checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 23px;
  width: 14px;
  border-bottom: 7px solid #ffffff;
  border-right: 7px solid #ffffff;
}

.task_full_card .task_status {
  width: 60px;
  height: 60px;
}

.task_full_card .task_checkmark {
  position: absolute;
  top: 15px;
  left: 20px;
  display: inline-block;
  transform: rotate(45deg);
  height: 28px;
  width: 19px;
  border-bottom: 9px solid #ffffff;
  border-right: 9px solid #ffffff;
}

.task_inner {
  width: 300px;
  cursor: default;
}

.task_full_card .task_inner {
  max-height: 250px;
  width: 100%;
  text-align: center;
  overflow-y: scroll;
  padding-top: 16px;
  padding-bottom: 35px;
}

.task_full_card .task_inner::-webkit-scrollbar {
  width: 1px;
  height: 0;
}

.task_full_card .task_inner::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: transparent;
}

.task_full_card .task_inner::-webkit-scrollbar-track {
  background: transparent;
}

.task_title {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task_full_card .task_title {
  font-size: 40px;
  margin-bottom: 20px;
  overflow: auto;
  text-overflow: inherit;
  white-space: normal;
  word-break: break-word;
}

.task_description {
  color: #7f7f7f;
  font-size: 12px;
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task_full_card .task_description {
  text-align: start;
  font-size: 16px;
  text-overflow: inherit;
  white-space: normal;
  word-break: break-word;
}

.task_view_btn {
  border: none;
  background-color: #2d77af;
  border: 1px solid #2d77af;
  border-radius: 35px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
  height: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.task_full_card .task_view_btn {
  margin: 0 auto;
  height: 45px;
  width: 180px;
  margin-top: 25px;
}

.task_view_btn:hover {
  text-decoration: underline;
}

.task_view_btn:active {
  border: 1px solid black;
}
