.view_all_btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 28px;
  margin-top: 45px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.add_task_btn,
.add_random_task {
  background-color: #0f64a3;
  border: none;
  border-radius: 35px;
  color: #ffffff;
  cursor: pointer;
  font-size: 28px;
  padding-top: 20px;
  padding-right: 70px;
  padding-bottom: 20px;
  padding-left: 70px;
  margin-bottom: 40px;
}

.add_task_btn:hover,
.add_random_task:hover {
  text-decoration: underline;
}

.view_all_btn:hover {
  text-decoration: none;
}
